@{
    ViewBag.Title = "MS SQLServer Web Backup";
}
<h2>@ViewBag.Title.</h2>

<p>Создание и копирование резервных копий баз данных SQL Server.</p>
<p>Несмотря на простоту и минимализм, решение предоставляет практически полное решение для выполнения 
    резервного копирования баз данных MS Sql Server. 
</p>
<p>Резервные копии могут буть созданы:
    <ul>
        <li>на файловой системе, на котором установлен MS SQL сервер</li>
        <li>на файловой системе любого доступного сервера в сети</li>
        <li>на устройстве резервного копирования сервера</li>
        <li>использовать доступны хранилища в GoogleDrive, Mega, SkyDrive, Mail.ru, pCloud</li>
    </ul>
</p>
<p>Резервное копирование на файловую систему поддерживает:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование на устройство Sql Server:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако MEGA:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако GoogleDrive:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако Mail.ru:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>

<a  name="google"></a>
<h3>Настройка резервного копирования GoogleDrive</h3>
<p>Перед настройкой резервного копирования в Google Диск необходимо:</p>
<ul>
    <li><a href="https://accounts.google.com/SignUp">Cоздать учетную запись Google</a> или <a href="https://accounts.google.com/ServiceLogin">использовать существующую</a>.</li>
    <li>Создать собственное приложение. Для этого перейдите по <a href="https://console.developers.google.com/apis/">ссылке</a>, выберите Google Apps API - Drive API, затем включите его, используя кнопку "Включить".</li>
    <li>Создать сервисный аккаунт в настройках приложения. Перейдите по ссылке <a href="https://console.developers.google.com/iam-admin">IAM и администрирование</a>, выберите раздел "Сервисные аккаунты". 
    Создайте новый сервисный аккаунт: при создании обязательно укажите "создать новый электронный ключ", тип ключа P12. Сохраните файл ключа в надежном месте и обязательно запомните пароль ключа. </li>
    <li>Экспортировать ключ и соответсвующий ему пароль - данные действия выполняются при утере существующего клюяа и пароля!</li>
</ul>
<p>После этого можно приступать к настройке хранилища. Что необходимо заполнить при создании или редактирования хранилища Google Диск:
    <ul>
        <li><b>Наименование</b> - укажите удобное для дальнейшего использования значение, оно будет отображаться при выборе в списках и таблицах</li>
        <li><b>Расположение</b> - укажите существующую папку на Google диске, в которую буду помещаться созданные резервные копии</li>
        <li><b>Пользователь</b> и <b>Пароль</b> - учетные данные аккаунта Google</li>
        <li><b>Файл сертификата</b>, <b>Пароль сертификата</b> и <b>Сервисный Email</b> - учетные данные сервисного аккаунта Google. Файл сертификата необходимо разместить в папке APP_DATA\KEYS</li>
        <li><b>Описание</b> - заполняется по необходимости</li>
    </ul>
</p>
<p>@Html.ActionLink("Создать новое хранилище Google Диск", "Create", new {controller="CloudDrive", Id=CloudDrive.PROVIDER_GOOGLEDRIVE})</p>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Поддержка:</strong>   <a href="mailto:levkin77@mail.ru">levkin77@mail.ru</a><br />
</address>