@{
    ViewBag.Title = "MS SQLServer Web Backup";
}
<h2>@ViewBag.Title.</h2>

<p>Создание и копирование резервных копий баз данных SQL Server.</p>
<p>Несмотря на простоту и минимализм, решение предоставляет практически полное решение для выполнения 
    резервного копирования баз данных MS Sql Server. 
</p>
<p>Резервные копии могут буть созданы:
    <ul>
        <li>на файловой системе, на котором установлен MS SQL сервер</li>
        <li>на файловой системе любого доступного сервера в сети</li>
        <li>на устройстве резервного копирования сервера</li>
        <li>использовать доступны хранилища в GoogleDrive, Mega, SkyDrive, Mail.ru</li>
    </ul>
</p>
<p>Резервное копирование на файловую систему поддерживает:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование на устройство Sql Server:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако MEGA:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако GoogleDrive:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
<p>Резервное копирование в облако Mail.ru:</p>
<ul>
    <li>Все доступные варианты сжатия на сервере: по умолчанию, без сжатия, с выполнением сжатия</li>
    <li>Создание резервных копий с автоматическим добавлением к имени файла резервной копии текущей даты и времени</li>
    <li>Дополнительное сжатие с использованием Zip архивирования</li>
    <li>Поддержка опции Copy-only</li>
</ul>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Поддержка:</strong>   <a href="mailto:levkin77@mail.ru">levkin77@mail.ru</a><br />
</address>