@{
    ViewBag.Title = "MS SQLServer Web Backup";
}
<h2>@ViewBag.Title.</h2>

<p>Создание и копирование резервных копий баз данных SQL Server.</p>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Поддержка:</strong>   <a href="mailto:levkin77@mail.ru">levkin77@mail.ru</a><br />
</address>