@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MS SQLServer Web Backup</h1>
    <p class="lead">Создание резервных копии баз данных SQL Server.</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Подробнее &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Задания резервного корирования</h2>
        <p>
            Просмотр текущих заданий резервного копирования данных.
            Текущий статус заданий, создание новых и редактирование заданий резервного копирования.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "BackupTask")">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сервера баз данных MS SQLServer</h2>
        <p>Настройка соединений с серверами баз данных MS SQLServer. Добавление новых серверов и редактирование существующих.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Cnn")">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Провайдеры облачных хранилищь</h2>
        <p>Настройте ваши хранилища данных. Используйте возможности Google Drive, Mail.ru, Mega и других для хранения ваших данных.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "CloudDrive")">Перейти &raquo;</a></p>
    </div>
    
</div>